
<form action="/answer">
  <div class="form-row align-items-center">
    <input class="field" type="text" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </div>

</form>
