// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
    margin-top: 40px;
}

.field {
    margin: 10px;
}

.coaching {
    border-left: 4px solid grey;
    padding: 5px 10px;
    margin: 20px 0px;
}

.answer {
    background-color: #fefec3;
}